<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="cosCloud" class="com.yht.image.tencent.TencentCosFactory">
        <property name="accessKey" value="${cos.accessKey}"/>
        <property name="secrectKey" value="${cos.secrectKey}"/>
        <property name="bucketName" value="${cos.bucketName}"/>
        <property name="regionName" value="${cos.regionName}"/>
    </bean>
</beans>